*,html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin: .3rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

input {
    margin-bottom: 1rem;
    padding: .3rem;
    border-radius: .3rem;
    border: 1px solid black
}

button {
    cursor: pointer;
    padding: .8rem 1.6rem;
    margin: .5rem;
    background-color: blue;
    color: white;
    font-size: 1rem;
    border-radius: .6rem;
    border: none;
}